html, body {
  background-color: #282c34;
}

.App {
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 100px;
}

.icon-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon-divider {
  margin-left: 20px;
  margin-right: 20px;
}

